chroma-hnswlib
chromadb
fastapi
gitdb
GitPython
groq
huggingface-hub
langchain
langchain-community
langchain-core
langchain-groq
langchain-text-splitters
langsmith
numpy
pandas
pillow
pydantic
pydantic-settings
pydantic_core
pypdf
pyproject_hooks
pyreadline3
python-dateutil
python-dotenv
pytz
PyYAML
regex
requests
scikit-learn
scipy
sentence-transformers
sqlite3
SQLAlchemy
streamlit
threadpoolctl
tokenizers
toml
torch
tqdm
transformers
